.navbar{

    background-color: #121619;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_logo{
font-size: 15px;
}
.navbar_items
{

    color:white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
  li{
    display:inline;
    padding: 10px;
  }